[flake8]
# Flake8 @ v5.0.4 Error codes come from a mix of additional packages.
# PyCodeStyle - https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes
# Flake8 - https://flake8.pycqa.org/en/latest/user/error-codes.html
#
# Indentation Errors/Warnings
# E111 - ident is not multiple of 4
# E114 - ident is not a multiple of 4 (comments)
# E115 - expected indentation (comments)
# E116 - unexpected indentation (comments)
#
# Line Length
# E501 - line too long (>79 chars)
ignore = E111,E114,E115,E116,E501